.wrapper_section {
    padding: 50px 0;
    h2 {
        text-align: center;
    }
    .description {
        margin: 20px 0 40px;
    }
    .date_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.apod_info {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #5876b2;
    border-radius: 20px;
    text-align: center;
    transition: all .9s;

    &:hover {
        box-shadow: 5px 5px 20px rgba(137, 173, 250, 0.5);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        transition: all .9s;
    }
}