.section_photo {
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    .date {
        margin: 10px 0 20px;
    }
    .wrapper_image {
        box-shadow: 0 0 25px 10px rgba(146, 148, 248, 0.4);
        width: 50%;
        background-color: rgba(146, 148, 248, 0.4);
        margin-bottom: 40px;
        img {
            width: 100%;
            height: auto;
        }
    }
    @media (max-width:767px) {
        text-align: center;
        .wrapper_image {
            width: 100%;
        }
        .explanation {
            font-size: 14px;
        }
    }
}